.tableContainer {
    margin: 25px  auto;
    width: 95%;
}
.rawTableDiv {
    margin: 20px auto;
}
.btns {
    display: inline-block;
    margin: auto 20px;
   
}
.buttonSet {
    width: 50%;
    margin: auto auto;
}



.ui.table {
    text-align: center;
}

.paginationBarDiv {
    margin : 35px auto;
    text-align:center;
}

#parentDisable {
    z-index: 998;
    width: 100%;
    height: 100%;

    pointer-events: none;
    cursor: default;

    position: absolute;
    top: 0;
    left: 0;
    color: #aaa;
    filter: alpha(opacity=50);
    background: rgba(0,0,0,0.6);
}

#messageBox001 {
    pointer-events: all;
}


#popup {
    pointer-events: all;
    z-index: 999;
    width: 800px;
    height: 380px;
    background-color: white;
    filter: alpha(opacity=1);
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 50px 60px;
}
.insidePop {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#btn-edit-submit {
    width: 40%;
    margin-left: 20%;
    margin-top: 10%;
}
#btn-edit-cancell {
    width: 40%;
    margin-left: 20%;
    margin-top: 10%;
}

.formHeader {
    margin : 15% auto;
}

.pagination {
    display: inline-block;
    list-style: none;
    margin-top: 30px;
    margin-right: 20px;
}

.page-item {
    display: inline-block;
    margin-left: 40px;
}

.page-item a:link,
.page-item a:visited {
    padding: 8px 8px;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.page-item a:hover,
.page-item a:active {
    border-bottom: 2px solid green;
}

    .page-item.active a {
        border-bottom: 2px solid green;
    }